In [8]:
##Extraire l’ensemble des lignes d’un fichier csv
import csv
#/home/damien.schaeffer@Digital-Grenoble.local/Documents/Arbres/data/?!
#Comment utiliser l'adresse????
with open('data/trees.csv', newline='') as csvfile:
    reader = csv.reader(csvfile,delimiter=';')
    data=list(reader)

##Afficher les 2 premières lignes
data[:2]

In [10]:
##Afficher les 2 premières lignes V2
def afficher_ligne(data, n):
    return data[n]

print(afficher_ligne(data, 1))
print(afficher_ligne(data, 2))

['27452', 'ESP29627', 'AR29627', 'VEG', 'VEGETATION', 'ESP01', 'Arbre', 'ESP174', "Arbre d'espaces ouverts", 'ESP991', 'Prc Mis dans vivaces Mairie', '5', 'AR29627', 'Ginkgo', 'biloba', '', 'Arbre adulte', '', '', '1965', '', '', '', '', '', '', '', '', '', '', 'Ville de Grenoble', '', 'de 10 m à 20 m', 'Libre', 'Ville de Grenoble', 'Tige', 'Libre', '45.18599541005583,5.736390702744254']
['27458', 'ESP29628', 'AR29628', 'VEG', 'VEGETATION', 'ESP01', 'Arbre', 'ESP174', "Arbre d'espaces ouverts", 'ESP22', 'Prc Mis pelouses de la famille', '5', 'AR29628', 'Platanus', 'acerifolia', '', 'Arbre adulte', '', '', '1965', '', '', '', '', '', '', '', '', '', '', 'Ville de Grenoble', '', 'Plus de 20 m', 'Libre', 'Ville de Grenoble', '', 'Libre', '45.18535720117796,5.737112737684537']

In [11]:

##Afficher la 2ème colonne
def affiche_colonne(fichier_csv, n, c):
    ligne = afficher_ligne(fichier_csv, n)
    colonne = ligne[c]
    return colonne


print(affiche_colonne("/home/damien.schaeffer@Digital-Grenoble.local/Documents/Arbres/data/trees.csv", 1, 2))
print(affiche_colonne("/home/damien.schaeffer@Digital-Grenoble.local/Documents/Arbres/data/trees.csv", 2, 2))

AR29627
AR29628

In [11]:
##Afficher année de plantation des 10 premières lignes /Recherche un nom de colonne
def get_index_from_column_name(meta_data, col_name):
    for col in meta_data:
        if col == col_name:
            print("trouvé")

for ligne in data[:10]:
    print(ligne[19])

anneedeplantation
1965
1965
1965
1965
1965
2006
1965
1965
1965

In [13]:
##Afficher les 50 premières
for ligne in data[:50]:
    print(ligne[19])

anneedeplantation
1965
1965
1965
1965
1965
2006
1965
1965
1965
1965
1965
2009
1995
1995
1979
1985
1976
1976
1975
1985
1976
1976
1975
1975
1975
1976
1976
1985
1985
1981
1974
1976
1976
2008
2008
1985
1985
1976
1976
1985
1981
1999
1965
1980
1970
1970
1984
1984
1969

In [14]:
##Afficher les 50 dernières
for ligne in data[-50::]:
    print(ligne[19])

2001
2001
1965
2010
1965
1981
1965
1975
2006
2001
2001
1975
1975
1977
2001
2001
1975
1978
1978
1998
1982
2001
1994
2011
2009
2006
2006
1975
2011
2006
1970
1965
1965
1965
1965
2006
1982
2006
1955
1965
1950
1965
2006
1965
1965
1970
1997
1960
1979
1981

In [30]:
#Exemple d'utilisation len()

test = [
    ['pinus', 1658],
    ['acerifolia', 1678],
    ['pinus', 1658],
    ['erable', 1658],
    ['pinus', 1658]
]

len(test[0])

2

In [33]:
len(data)

31827

In [24]:
#Combien d’arbres sont recensés dans ce jeu de données ? (utilisation de len())
cmb=[]
for ligne in data[1:]:
    #affiche toute les lignes du fichier de la colonne (sous_categorie_desc)
    #print (ligne[8])
   
    #Enregistre le nombre de caractère des cellules de la colonne--> sous_categorie_desc
    x=len(ligne[8])
    if x!=0 and x!=17:
        
        #Utilisation d'une liste? OK?!
        cmb.append(x)

print(x)

cmb_complet= set(cmb)
print(cmb_complet)


#comptabiliser le nombre d'arbres?!
#for elt in cmb_complet:
    #PB avec le count
    #nb_arbre= cmb_complet.count(elt)
#print (nb_arbre)

15
{25, 19, 15, 23}

In [21]:
###Pour combien d’arbres manque-t-il l’information concernant la date de plantation ?
#(Vous pouvez essayer de le faire d’au moins deux manières différentes. --> Utilisation de count)

In [32]:
#Methode1
    #anneeplantation==""
sans_date=0
for ligne in data[::]:
    #print(ligne[19])
    if ligne[19]=="":
        sans_date=sans_date+1
print('Test ')
print(sans_date)


#Methode2
#anneeplantation!= type int

Test
1998

In [23]:
##Combien d’arbres ont été plantés l’année de votre naissance ?

In [31]:
cmb_1986=0
for ligne in data[::]:
    #affiche toute les lignes du fichier de la colonne (sous_categorie_desc)
    #print (ligne[8])
   
    #Enregistre le nombre de caractère des cellules de la colonne--> sous_categorie_desc
    x=(ligne[19])
        #print("ici")
        #print(x)
    
    #anneeplantation==1986
    #Ne rentre pas là
    if x=='1986':
        #Utilisation d'une liste?
        #print ("là")
        cmb_1986=cmb_1986+1
        
print(cmb_1986)

207